/*HTML5 reset*/
/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body {  }

a { color:inherit; text-decoration:none;}
a:visited { color:inherit;  }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
p{ margin:0; padding:0; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
ul{margin:0; padding:0;}
ul li{margin:0; padding:0;}

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

div{
	position:relative;
}
body{
	position:relative;
	background-color:#f5f5f5;
	padding:0;
	margin:0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 1em; line-height: 1.4;
}
h1{
	width:auto;
	margin:0;
	padding:0;
	font-size:2em;
	font-weight:800;
}
h2{
	padding:0;
	margin:0;
	text-transform: uppercase;
	font-size:1.5em;
	font-weight:800;	
}
h3{
	padding:0;
	margin:0;
	text-transform: uppercase;
	font-size:1.3em;
	font-weight:800;
}
h4{
	padding:0;
	margin:0;
	font-size:1.1em;
	font-weight:800;
}
.container{
	width:100%;
	height:100%;
}
header{
	position:relative;
	width:100%;
	padding:10px;
	background-color:#f5f5f5;
	z-index:1000;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-weight:800;
	-webkit-box-shadow:1px 0px 3px #454545;
	-moz-box-shadow:1px 0px 3px #454545;
	box-shadow:1px 0px 3px #454545;
}
header div{
}

header.min{
	height:45px;
	padding:10px;
}
header.min div{
}
header.min #headerTitle{
	display:block;
}

footer{
	position:relative;
	font-weight:300;
}
div.buttonContainer{
	padding:5px;
}
div.button{
	height:20px;
	background-color:rgba(110,133,255,0.25);
	border-radius:2px;
	border:1px solid rgba(110,133,255,0.5)
}
/* Header Content */
#backbutton{
	position:absolute;
	top:8px;
	padding:1px 3px 1px 3px;
	float:left;
	background-color:rgba(110,133,255,0.25);
	border-radius:2px;
	border:1px solid rgba(110,133,255,0.5)
}
#headerTitle{
	width:100%;
	text-align:center;
	font-size:24px;
}
.hide{
	display:none;
}
#facelogo{
	float:left;
	position:relative;
	width:70px;
	height:70px;
	border:1px solid black;
	border-radius:10px;
	box-shadow:1px 1px 5px #000;	
}
#contactBox{
	float:right;
	width:50%;
	margin:0 10px;
	padding:0 10px;
}
#twitter{
	margin:10px 0;
	border:1px solid rgba(110,133,255,0.25);
}
#tweet{
	display:inline;
	padding-top:5px;
}	
.twitter-follow-button{
	margin:2px 0px 0px 5px;
}


/* MAin Content */
.content{
}
#main{
	position:relative;
}
/* BlogUL List */ 
ul.blogpost {
	list-style:none;
	text-indent:0px;;
}
ul.blogpost li{
	display:block;
	border-bottom:1px solid black;
	border-top:1px solid gray;
	padding:1em;
}
ul.blogpost li h1{
	display:inline;
	margin-right:5px;
}
ul.blogpost li p{
	display:inline;
}
.arrowCircle{
	float:right;
	width:1.5em;
	padding-bottom:.2em;
	border-radius:2em;
	background-color:black;
	font-size:1.5em;
	text-align:center;
	color:white;
}
